<div class="container">
  <div class="row">
    <div class="search-hero" >
      <input type="text" style="width: 100%" name="search" [(ngModel)]="searchText" placeholder="Search by CIN , CATEGORIE LOCAL or REFERENCE " >
    </div>

  </div>
</div>


<div class="card">
  <div class="card-body">

    <table class="table">
      <thead>
      <th>Cin</th>
      <th>Reference</th>
      <th>categorieLocal</th>
      <th>Dernieranneepayee</th>
      <th>dernierTrimestrePayee</th>
      </thead>
      <tbody>
      <tr  *ngFor="let l of locals | filter:searchText">
        <td>{{l.cin}}</td>
        <td>{{l.ref}}</td>
        <td>{{l.categorieLocalName}}</td>
        <td>{{l.dernierAnneePayee}}</td>
        <td>{{l.dernierTrimestrePayee}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
